<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ltd.newbee.mall.dao.FavoriteAlterMapper">

  <!-- 查询 user_favorite 收藏记录 -->
  <select id="findFavorite" resultType="ltd.newbee.mall.entity.FavoriteAlter">
    SELECT * FROM user_favorite
    WHERE user_id = #{user_id}
      AND title_name = #{title_name}
      AND hotel_id = #{hotel_id}
  </select>

  <!-- 插入 user_favorite 收藏记录 -->
  <insert id="insertFavorite">
    INSERT INTO user_favorite (user_id, title_name, hotel_id)
    VALUES (#{user_id}, #{title_name}, #{hotel_id})
  </insert>

  <!-- 删除 user_favorite 收藏记录 -->
  <delete id="deleteFavorite">
    DELETE FROM user_favorite
    WHERE user_id = #{user_id}
      AND title_name = #{title_name}
      AND hotel_id = #{hotel_id}
  </delete>

</mapper>
